


/*RESET START*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
/*RESET FINISH*/

/* HEADER */

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(images/);    /* buraya arka plan resmi koymayı unutma */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo {
    font-size: 18px;
    letter-spacing: 2px;
    padding-bottom: 5px;

}

ul {
    display: flex;
}

li {
    margin-left: 27px;
}

a {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 4.5rem;
    font-weight: ;
    line-height: 0.4;
    letter-spacing: 2px;
    /* font-family: ; ekle buraya */
    color: 
}

h3 {
    margin-bottom: 25px;
    margin-top: 22px;
    font-size: 25px;
}
